/* this is the root, this sets the parameters for all the elements in this css folder*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This creates the white back ground that all of the blue blocks lay on */
body {
    background-color: #d9dcd6;
}
/*this sets the styles for the entire header, which is found at the top of the page*/
/*This styles the header nav bar at the top of the page*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*this specifies the h1 element in the header givig it a diplay style and font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* further specifies which element to stlye*/
/* this selects the .seo id inside of the h1 inside of the header*/
.header h1 .seo {
    color: #d9dcd6;
}
/*giving all elements inside the div header a style*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* styling JUST the unorder list in the header*/
.header div ul {
    list-style-type: none;
}
/*positioning the unorder list ans list elements*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*article color*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*paragraph font size*/
p {
    font-size: 16px;
}
/* styling and positioning the hero aka the pic at the top of the page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* float left and right are classes inside the main webpage content*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*styling the content id*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*now we are styling the benefits class inside the side nav bar id*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* search engine optimizatin through social media marketing is styling everything in the main webpage content id*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*stying the footer class at the bottom of the page*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*giving the h2 elements a font size inside the  footer class*/
.footer h2 {
    font-size: 20px;
}
